/* background-color: rgb(255, 98, 0); /* ORANGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16pt;
}

/* GENERAL STYLES */
.button {
  padding: 2px 7px;
  color:black;
  background-color: aliceblue;
  border-radius: 16px;
  border: 2px solid black;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, .7);
}

/* HEADER STYLES */
header {
  padding: 0 20px;
  color: aliceblue;
  background-color: rgb(127, 127, 246);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-title {
  margin-left: 10px;
  font-size: 20pt;
  cursor: pointer;
}

.mascot {
  width: 60px;
}

.banner:hover {
  box-shadow: -2px 2px 5px aliceblue;
  text-decoration: underline;
}

.banner:active {
  box-shadow: -1px 1px 3px aliceblue;
}

.nav-items {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.nav-items .button {
  width: max-content;
  margin: auto 10px;
}

.nav-header {
  min-height: min-content;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes drop-nav {
  0% {
    position: sticky;
    top: -100px;
  }
  25% {
    position: sticky;
    top: -75px;
  }
  50% {
    position: sticky;
    top: -50px;
  }
  75% {
    position: sticky;
    top: -25px;
  }
  100% {
    position: sticky;
    top: 0;
  }
}

@keyframes raise-nav {
  0% {
    position: sticky;
    top: 0;
  }
  25% {
    position: sticky;
    top: -25px;
  }
  50% {
    position: sticky;
    top: -50px;
  }
  75% {
    position: sticky;
    top: -75px;
  }
  100% {
    position: sticky;
    top: -100px;
  }
}

/* HOME PAGE STYLES */

/* LOGIN PAGE STYLES */

/* REGISTER PAGE STYLES */

/* ABOUT PAGE STYLES */

/* PAYMENT FORM STYLES */

/* REQUEST FORM STYLES */

/* DESCRIPTION STYLES */

/* FOOTER STYLES */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 7vh;
  color: aliceblue;
  background-color: rgb(190, 102, 190);
}

/* MOBILE STYLES */